@media(max-width:600px){
    
    
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    font-family: 'Courier New', Courier, monospace;
    background:rgb(194, 194, 212) ;
}

.login {
    max-width: 400px;
    border: 1px solid;
    
    margin: 0 auto;
    
    background: black;
    color:rgb(194, 194, 212);
    border-radius: 8%;
}

header {
    padding: 10%;
    font-size: 200%;
    margin-right: 11%;
}

.name {
    margin-left: 5%;
    margin-top: 5%;
    padding: 5%;
    font-size: 140%;
}

input {
    margin-top: 5%;
    margin-left: 6%;
    background-color:rgb(194, 194, 212);
  
}

button {
    padding: 1% 30% 1% 30%;
    margin-top: 19%;
    margin-left: 9%;
    background-color:rgb(194, 194, 212);
    border-radius: 10%;
    font-size: 120%;
}
