@media(max-width:600vw){
 
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
}

header{
    font-size: 2.0em;
   
}
#sal{
    margin-left: 3%;
    font-size: 1.5em;
    font-family: e;
}
input{
     width: 10% ;
       
}
#bt{
    width:10%;
    
}
.div1{
     background:rgb(194, 194, 212) ;
}
.menu{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: e;
}
#saldo{
    color:green;
}
#gastos{
    color:red;
}
.list{
    display: flex;
    justify-content: center;
}
