@media(max-width:600vw){
 
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
    background-color: #1e1e2f;
    color: #ecf0f1;
}

header{
    font-size: 2.0em;
   
}
#sal{
    margin-left: 3%;
    font-size: 1.5em;
    font-family: e;
}
.bt{
     width: 13% ;
       
}
#bt{
    width:10%;
    
}

.menu{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: e;
     
}
#saldo{
    color:green;
}
#gastos{
    color:red;
}
h2{
    text-align: center;
    font-size: 1.0;
   
}
input{
    width: 10%;
   
}
.btn{
    display: flex;
    justify-content: center;
  

}
button{
    color: #ecf0f1;
    background-color: #1e1e2f;
    
    border-radius:10% ;
}
button:hover{
   background-color: #cacccc;
}
.botoes{
    display: flex;
    justify-content: space-evenly;
    margin-top:15% ;
    
}